.products-div {
    height: 688px;
    max-height: 688px;
    overflow-y: auto;
    padding: 10px;
}

.product-div {
    border: 4px solid #232529;
    max-height: 50%;
}

.product-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 55%;
    flex-shrink: 1; /* Allows image to shrink when space is limited */
}