#background {
    height: 100vh;
    width: 100%;
    background-image: url('/src/assets/images/store_9.jpg'); /* Cambia la ruta a la de tu imagen */
    background-size: cover; /* Asegura que la imagen ocupe toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;     
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}