<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/src/styles/product-details.css" rel="stylesheet" >
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row py-3 border-bottom">

        <div class="col-sm-4 col-lg-3 text-center text-sm-start">
          <div class="main-logo">
            <a href="index.html">
              <img src="../../assets/images/ALDALU.png" alt="logo" class="img-fluid" style="max-height: 80px;">
            </a>
          </div>
        </div>

        <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
          <div class="search-bar row bg-light p-2 my-2 rounded-4">
            <div class="col-md-4 d-none d-md-block">
              <select class="form-select border-0 bg-transparent">
                <option>Categorías</option>
                <option>Electrónica</option>
                <option>Muebles</option>
                <option>Moda</option>
                <option>Salud</option>
                <option>Belleza</option>
                <option>Alimentos</option>
                <option>Deportes</option>
                <option>Juguetes</option>
                <option>Libros</option>
              </select>
            </div>
            <div class="col-11 col-md-7">
              <form id="search-form" class="text-center" action="index.html" method="post">
                <input type="text" class="form-control border-0 bg-transparent" placeholder="Buscar un producto">
              </form>
            </div>
            <div class="col-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z">
                </path>
              </svg>
            </div>
          </div>
        </div>

        <div
          class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
          <a href="./profile.html" class="text-decoration-none text-dark">
            <div class="ms-auto d-flex align-items-center rounded rounded-pill px-3 bg-dark-subtle" type="button">
              <span class="navbar-text me-3">
                <i class="bi bi-person-circle me-2"></i>
                <span id="user-name">Nombre del usuario</span>
              </span>
            </div>
          </a>
          <a href="./cart.html" class="text-decoration-none text-dark">
            <div class="cart text-end d-none d-lg-block me-2">
              <div class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <span class="fs-6 fw-bold text-muted">Tu carrito</span>
                <span class="cart-total fs-5 fw-bold">$0.00</span>
              </div>
            </div>
          </a>

        </div>
      </div>
  </header>
    <div class="container" id="productContainer">
        <div class="row mt-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./dashboard.html">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Nombre del producto</li>
            </ol>
          </nav>
        </div>
          <div class="row vh-100">
            <div class="col-md-6">
              <div class="row h-100">
                  <div class="col-10">
                      <div class="square-image-container">
                          <img src="/src/assets/images/sofa-1.jpg" class="product-image" id="product-image" alt="">
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-md-6 h-100">
              <div class="d-flex h-100 flex-column mb-3">
                <div>
                  <span class="badge text-bg-dark mb-3">Sofas</span>
                </div>
                <h3 class="fw-medium">
                    Sofa aesthetic
                </h3>
                <h2 class="fw-medium my-3">$500.00</h2>
                <div class="fw-medium my-2">Descripcion</div>
                <p id="productDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam nam cum officiis molestiae. Quibusdam totam labore repudiandae nam accusamus laborum sequi tempore iusto consequuntur dicta. Repudiandae dignissimos dicta itaque distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptate fuga cum nam itaque, doloribus corporis repellat. Dolorem eos minima, cupiditate quam omnis, iusto beatae est hic, quisquam recusandae fuga!</p>
                <div class="fw-medium mt-3 mb-2">Cómo conseguirlo</div>
                <div class="border rounded mb-5 p-3">
                  <div class="fw-medium">La entrega</div>
                  <div class="fw-normal">Disponible</div>
                  <div class="fw-normal">Encuentra todas las opciones al finalizar la compra</div>
                </div>
                <button type="button" class="btn btn-lg w-100 fs-6 btn-dark mt-md-auto">Agregar al carrito</button>
              </div>
            </div>
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../../events/product.details.handler.js" type="module"></script>
</body>

</html>