<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Ejemplo de Petición API con Axios</h1>
    
    <!-- Botón que hace la petición -->
    <button id="fetchButton">Hacer Petición</button>
    
    <!-- Contenedor para mostrar los datos obtenidos -->
    <div id="resultContainer"></div>

    <script src="../services/ProductoService.js"></script> <!-- Peticiones API -->
    <script type="module" src="../events/ejemplo.handler.js"></script> <!-- Eventos --> 
</body>
</html>